---
const year = new Date().getFullYear();
---

<footer>
  <div class="container">
    <p>&copy; {year} The Canary Institute. All rights reserved.</p>
  </div>
</footer>

<style>
  footer {
    border-top: 1px solid var(--color-border);
    padding: 2rem 0;
    text-align: center;
  }

  footer p {
    font-size: 0.8rem;
    color: var(--color-light-grey);
    margin: 0;
  }
</style>
